.box{
          height:100px;
          width:100px;
          background-color: hsl(0, 0%, 0%);
     position:absolute;
     z-index:-1 ;
     }
     
     .box1{ height:100px;
          width:100px;
          position:absolute;
           background-colour:hsl(200, 60%, 50%);
           
     
     }